In [3]:
import pandas as pd
import numpy as np 
from pandas.io.json import json_normalize  
%matplotlib inline

In [4]:
business = pd.read_json('business.json', lines=True)

In [9]:
business.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [10]:
business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192609 entries, 0 to 192608
Data columns (total 14 columns):
address         192609 non-null object
attributes      163773 non-null object
business_id     192609 non-null object
categories      192127 non-null object
city            192609 non-null object
hours           147779 non-null object
is_open         192609 non-null int64
latitude        192609 non-null float64
longitude       192609 non-null float64
name            192609 non-null object
postal_code     192609 non-null object
review_count    192609 non-null int64
stars           192609 non-null float64
state           192609 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 20.6+ MB

In [22]:
business.city.value_counts()

Las Vegas                     29370
Toronto                       18906
Phoenix                       18766
Charlotte                      9509
Scottsdale                     8837
Calgary                        7736
Pittsburgh                     7017
Montréal                       6449
Mesa                           6080
Henderson                      4892
Tempe                          4550
Chandler                       4309
Cleveland                      3605
Glendale                       3543
Madison                        3494
Gilbert                        3462
Mississauga                    3112
Peoria                         1919
Markham                        1766
North Las Vegas                1548
Champaign                      1262
North York                     1205
Surprise                       1148
Scarborough                    1103
Richmond Hill                  1026
Brampton                       1002
Concord                         990
Vaughan                         919
Goodyear                        855
Etobicoke                       793
                              ...
Mesa AZ                           1
Chateau                           1
Manchester                        1
south Euclid                      1
Grand Canyon                      1
Phoeniix                          1
boulder city                      1
St. Joseph                        1
Schaumburg                        1
Harwick                           1
Beachwood                         1
NORTH YORK                        1
Montéal                           1
Blue Mounds                       1
Banksville                        1
Vegas                             1
Deux-Montagnes                    1
Notre-Dame-de-l'Ile-Perrot        1
​Chandler                         1
Farmington                        1
Sainte-thérèse                    1
Leaside                           1
Hendserson                        1
Phoenx                            1
Black Rock City                   1
Sunnyslope                        1
Les Coteaux                       1
Montréal-Est                      1
University                        1
                                  1
Name: city, Length: 1204, dtype: int64

In [78]:
business2 = business[business.categories.str.contains('Restaurant', na=False)]
business2.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
11,2450 E Indian School Rd,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...",1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,"{'Monday': '7:0-0:0', 'Tuesday': '7:0-0:0', 'W...",1,33.495194,-112.028588,Taco Bell,85016,18,3.0,AZ
13,5981 Andrews Rd,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...",fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,"{'Monday': '10:0-0:0', 'Tuesday': '10:0-0:0', ...",1,41.708520,-81.359556,Marco's Pizza,44060,16,4.0,OH
17,"1775 E Tropicana Ave, Ste 29","{'OutdoorSeating': 'False', 'BusinessAcceptsCr...",PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,None,0,36.100016,-115.128529,Carluccio's Tivoli Gardens,89119,40,4.0,NV

In [79]:
business2 = business2.drop(["address", "attributes", "latitude", "longitude", "hours"], axis=1)
business2.head()

,business_id,categories,city,is_open,name,postal_code,review_count,stars,state
1,QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,1,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,1,Musashi Japanese Restaurant,28210,170,4.0,NC
11,1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,1,Taco Bell,85016,18,3.0,AZ
13,fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,1,Marco's Pizza,44060,16,4.0,OH
17,PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,Carluccio's Tivoli Gardens,89119,40,4.0,NV

,business_id,categories,city,is_open,name,postal_code,review_count,stars,state
1,QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,1,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,1,Musashi Japanese Restaurant,28210,170,4.0,NC
11,1Dfx3zM-rW4n-31KeC8sJg,"Restaurants, Breakfast & Brunch, Mexican, Taco...",Phoenix,1,Taco Bell,85016,18,3.0,AZ
13,fweCYi8FmbJXHCqLnwuk8w,"Italian, Restaurants, Pizza, Chicken Wings",Mentor-on-the-Lake,1,Marco's Pizza,44060,16,4.0,OH
17,PZ-LZzSlhSe9utkQYU8pFg,"Restaurants, Italian",Las Vegas,0,Carluccio's Tivoli Gardens,89119,40,4.0,NV

In [80]:
business2.drop(['postal_code'].str.len() > 5)

AttributeError: 'list' object has no attribute 'str'